[flake8]
exclude = .*,venv,venv*,.nox
max-line-length = 100
max-doc-length = 120
indent-size = 4
max-complexity = 15
ignore =
    ## Errors
    # continuation line under-indented for hanging indent
    E121,
    # multiple spaces after ':'
    E241,
    ## Warnings
    # line break before binary operator (choose either 503 or 504)
    W503,
